.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(26, 26, 26,0.96);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(26, 26, 26, 0.5);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;

  img {
    width: 115px;
    height: 95px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
    @media screen and (max-width: 1200px) {
      width: 80px;
      height: 60px;
    }
    @media screen and (max-width: 900px) {
      width: 70px;
      height: 50px;
      margin: 1rem;
      margin-left: 3rem;
    }
  }
}

.app__navbar-container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 80%;

  .app__navbar-links {
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 45%;

    li {
      margin: 0 1rem;
      cursor: pointer;
      flex-direction: column;

      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-left: 40%;
      }
      a {
        color: #E6E6E6;
        font-family: var(--font-base);
        text-decoration: none;
        flex-direction: column;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: var(--secondary-color);
        }
      }

      &:hover {
        div {
          background: var(--secondary-color);
        }
      }
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

.app__navbar-menu {
  width: 40px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);


  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    background: url('../../assets/bgWhite.png');
    background-color: #363636;
    background-size: cover;
    background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          font-family: var(--font-base);
          color: var(--secondary-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.app__button-group {
  margin:0;
  padding:0;
  margin-right: 2rem;
  button {
      background-color: #E6E6E6;;
      border-radius: 10px;
      box-shadow: 0px 0px 20px var(--secondary-color);
      font-family: var(--font-base);
      color: var(--secondary-color);
      font-size: 0.9rem;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px #3944c2d3;

      &:hover {
      background-color: var(--secondary-color);
      color: #E6E6E6;
      box-shadow: 0 0 20px #3944c2d3; 
      }
  }
}