.app__experience{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: Start;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-base);
    color: var(--white-color);
    font-family: var(--font-base);
    margin-top: 15px;
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .app_experience-section{
        height: 20%;
        justify-content: start;
        @media screen and (max-width: 900px) {
            height: 15%;
        }
    }

    .experience-sections{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        padding-bottom: 2%;
        .col{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: var(--gray-color);
            margin-right: 1%;
            border-radius: 0.75rem;
            box-shadow: 0 0 10px 0 var(--gray-color);
            .tooltip{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0px;
                margin-bottom:0px;
                .tooltiptext {
                    width: 300px;
                    top: 30%;
                    left: 30%;
                    background-color: #363636e4;
                }
            }
            &:hover{
                box-shadow: 0 0 10px 0 var(--secondary-color);
            }
            .heading{
                box-shadow: 0 0 10px 0 var(--primary-color);
            }
            .text{
                justify-content: start;
                align-items: start;
                box-shadow: 0 0 10px 0 var(--primary-color);
                h3, p {
                    margin: 0.2%;
                    margin-left: 5%;
                }
            }
            .row{
                border : 1px solid #e6e6e657;
                box-shadow: 0 0 10px 0 var(--primary-color);
                border-radius: 0.75rem;
                width: 95%;
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                h2{
                    text-decoration: 1px solid var(--secondary-color);
                    padding: 0.3rem 0 0.3rem 0;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2.5%;
                    text-decoration: none;
                    button{
                        padding: 5px 10px 5px 10px;
                        margin-right: 15px;
                        background-color: var(--primary-color);
                        color: var(--white-color);
                        border-radius: 5px;
                        &:hover{
                            background-color: var(--white-color);
                            color: var(--primary-color);
                            text-shadow: 0 0 10px var(--secondary-color);
                        }
                        @media screen and (max-width: 900px) {
                            padding: 2px 7px 2px 7px;
                            margin-right: 5px;
                            font-size: 0.70rem;
                        }
                    }
                }
            }
            @media screen and (max-width: 900px) {
                width:100%;
                margin-top: 50px;
            }
        }
        @media screen and (max-width: 900px) {
            flex-direction: column;
            width:100%;
        }
    }
    .experience-heading{
        width: 90%;
        display: flex;
        justify-content: center;
        h1{
            text-align: center;
            padding: 0 5px 0 5px;
        }
    }
    .experience-subheading{
        width: 90%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        h3{
            text-transform: uppercase;
            text-align: center;
            padding: 0 5px 0 5px;
            font-weight: 450;
            span{
                color: var(--secondary-color);
            }
        }
    }
    @media screen and (max-width: 900px) {
        width: 100%;
        margin-top:10%;
    }
}