.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(26, 26, 26,0.96);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(26, 26, 26, 0.5);
  position: fixed;
  top:0;
  z-index: 7;
  @media screen and (max-width: 900px) {
    width: 100%;
    height: 15%;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;

  img {
    width: 105px;
    height: 85px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
    @media screen and (max-width: 1200px) {
      width: 80px;
      height: 60px;
    }
    @media screen and (max-width: 900px) {
      width: 70px;
      height: 50px;
      margin: 1rem;
      margin-left: 3rem;
    }
  }
}

//Laptop Menu
.app__navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  .app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 60%;
    li {
      margin: 0 1rem;
      cursor: pointer;
      flex-direction: column;
      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-left: 40%;
      }
      a {
        color: #E6E6E6;
        font-family: var(--font-base);
        text-decoration: none;
        flex-direction: column;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: var(--secondary-color);
        }
      }
      &:hover {
        div {
          background: var(--secondary-color);
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}
//Mobile Menu
.app__navbar-menu {
  width: 40px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }
  .menu-close{
    fill: var(--white-color);
    border-radius : 50%;
    background-color: var(--secondary-color);
  }
  .menu-list {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: url('../../assets/bgWhite.png');
    background-color: #363636;
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
    .svg-display{
      display: flex;
      justify-content: flex-end;
      width: 100%;  
      svg {
        width: 35px;
        height: 35px;
        color: var(--secondary-color);
        margin: 0.5rem 1rem;
        align-content: right;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      li {
        margin: 1rem;

        a {
          font-family: var(--font-base);
          color: var(--secondary-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.6s ease-in-out;
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

//Button
$sec-color: (#3944c2d3);
.app__button-group {
  margin:0;
  padding:0;
  margin-right: 2rem;
  button {
      background-color: var(--white-color);
      border-radius: 10px;
      font-family: var(--font-base);
      color: var(--secondary-color);
      font-size: 0.9rem;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px $sec-color;
      &:hover {
      background-color: var(--secondary-color);
      color: var(--white-color);
      box-shadow: 0 0 20px $sec-color; 
      }
      @media screen and (max-width: 900px) {
        margin-top: 1rem;
        margin-left: 0.8rem;
        font-size: 0.9rem;
        border: none;
        padding: 6px 12px;
      }
  }
  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: flex-center;
    align-items: flex-center;
    width: 100%;
  }
}