#home {
    position: relative;
    background: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    // disable the default padding styles
    .app__wrapper {
        padding: 0;
        .copyright {
            display: flex;
            flex-direction: column;
        }
    }
}

.app__header {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: row;
    padding: 6rem 0rem 0rem;
    background-color: var(--primary-color);
    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    @media screen and (max-width: 700px) {
        padding: 1rem 0rem 0rem;
    }
}
.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2rem;
    @media screen and (max-width: 1200px) {
        margin-right: 0rem;
    }
    @media screen and (max-width: 950px) {
        margin-right: 0rem;
    }
}
.app__header-badge {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .badge-cmp,
    .tag-cmp {
        padding: 1rem 2rem;
        background: var(--secondary-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        box-shadow: 0px 0px 12px var(--secondary-color);
    }
    .badge-cmp{
        margin-top: 3rem;
        font-family: var(--font-base);
        color: var(--white-color);
        .wave {
            animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
            animation-duration: 1.1s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
            display: inline-block;
        }
        @keyframes wave-animation {
            0% {
                transform: rotate(0deg);
            }
            10% {
                transform: rotate(14deg);
            } 
            20% {
                transform: rotate(-8deg);
            }
            30% {
                transform: rotate(14deg);
            }
            40% {
                transform: rotate(-4deg);
            }
            50% {
                transform: rotate(10deg);
            }
            60% {
                transform: rotate(0deg);
            } 
            100% {
                transform: rotate(0deg);
            }
        }
    }
    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 2.5rem;
        p {
            text-transform: uppercase;
            text-align: right;
            font-size: 0.6rem;
            font-family: var(--font-base);
            color: var(--white-color);
        }
        @media screen and (max-width: 700px) {
            margin-left: 0rem;
            padding: 0.9rem;
        }
    }
    span {
        font-size: 2.5rem;
        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }
    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

//ICONS
.app__header-circles {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    div {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--secondary-color);
        box-shadow: 0px 0px 20px var(--primary-color);
        margin-top: 3rem;
        margin-left: 1.5rem;
        width:100%;
    }
    // circles with different height & width
    div:nth-child(1) {
        width: 100px;
        height: 100px;
        a{
            font-size: 60px;
            margin-top: 0.8rem;
        }
    }
    div:nth-child(2) {
        margin-left: 4rem;
        width: 150px;
        height: 150px;
        a{
            font-size: 80px;
            margin-top:0.8rem;
        }
    }
    div:nth-child(3) {
        width: 80px;
        height: 80px;
        a{
            font-size: 40px;
            margin-top: 0.5rem;
        }
    }
    @media screen and (min-width: 2000px) {
        div:nth-child(2) {
            width: 400px;
            height: 400px;
        }
        div:nth-child(3) {
            width: 170px;
            height: 170px;
        }
        div:nth-child(1) {
            width: 200px;
            height: 200px;
        }
    }
    @media screen and (max-width: 550px) {
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.3rem;
        }
        div:nth-child(1) {
            width: 50px;
            height: 50px;
            margin-bottom: 1rem;
            a{
                font-size: 20px;
                margin-top: 0.3rem;
            }
        }
        div:nth-child(2) {
            margin-left: 0.75rem;
            margin-right: 0.75rem;
            width: 90px;
            height: 90px;
            a{
                font-size: 50px;
            }
        }
        div:nth-child(3) {
            width: 30px;
            height: 30px;
            margin-left:0.5rem;
            a{
                font-size: 15px;
                margin-top: 0.3rem;
            }
        }
    }
    @media screen and (min-width: 550px) and (max-width: 1200px) {
        justify-content: center;
        align-items: start;
        flex-direction: row;
        padding-bottom: 2rem;
        div:nth-child(1) {
            width: 130px;
            height: 130px;
            a{
                font-size: 60px;
                margin-top: 0.8rem;
            }
        }
        div:nth-child(2) {
            margin-left: 2rem;
            width: 200px;
            height: 200px;
            a{
                font-size: 100px;
                margin-top:0.8rem;
            }
        }
        div:nth-child(3) {
            width: 90px;
            height: 90px;
            a{
                font-size: 45px;
                margin-top: 0.5rem;
            }
        }
    }
    @media screen and (max-width: 950px) {
        justify-content: center;
        align-items: start;
        flex-direction: row;
    }
}

//Image
.app__header-img {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    img {
        object-fit: contain;
        z-index: 1;
        height: 100%;
        width: 100%;
        transition: all 1s ease-in-out;
    }
    .overlay_circle {
        position:absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
    }
    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}